body {text-align: center; }
p {color: black}
h1 {color: grey; font-family: Garamond; font-variant: small-caps; letter-spacing: 10px;}
h2 {color: grey; font-family: Garamond; letter-spacing: 10px; font-style: italic}
table {margin: auto; width: 900px; color: white; background: grey; font-family: Garamond; font-type: strong; font-variant: small-caps; letter-spacing: 10px;}